<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}


{% if photos %}
<h2>ALL THE PHOTOS IN THE DATABASE</h2>
    <ul>
    {% for photo in photos %}
        <p>CAPTION: </p>
        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}


<ul>
<li><a href='/write_comments'> Write Comments</a></li>
<li><a href='/show_comments'> Show Comments</a></li>
<li><a href='/see_all_photos'> See all photos</a></li>
<li><a href='/delete_photo'> Delete a photo</a></li> 
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/create_an_album'> Create an album</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/add_friend'> Add friends</a></li>
<li><a href='/'>Home</a></li>
</ul>
